button {
    margin: 5px;
    padding: 10px;
}

.appointment {
    margin-bottom: 20px;
}
#messageContainer {
    padding: 10px;
    margin-bottom: 20px;
    display: none; /* Hidden by default */
    transition: opacity 0.5s ease;
}

.message-success {
    background-color: #dff0d8;
    color: #3c763d;
}

.message-error {
    background-color: #f2dede;
    color: #a94442;
}

.message-info {
    background-color: #d9edf7;
    color: #31708f;
}